@media (max-width:768px) {
  .style0 {
    background-color: #262626;
    opacity: .9975579977035522;
    margin-left: 10px;
    margin-top: 10px;
    width: 355px;
    height: 647px
  }
  .style5,
  .style6,
  .style7,
  .style8 {
    background-color: #1e71f5;
    margin-left: 25px;
    margin-top: 25px;
    width: 325px;
    height: 296px
  }
  .style7,
  .style8 {
    margin-left: 65px;
    width: 245px;
    height: 268px
  }
  .style7 {
    margin-top: 11px;
    height: 338px
  }
  .iphone67827row0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 376px;
    height: 334px;
    align-items: stretch
  }
  .style10,
  .style9 {
    background-color: #1e71f5;
    margin-left: 0;
    width: 188px
  }
  .iphone67827row1 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 334px;
    align-items: stretch
  }
  .style11,
  .style12,
  .style13 {
    background-color: #1e71f5;
    margin-left: 0;
    width: 188px
  }
  .style13 {
    opacity: .9975579977035522;
    margin-left: 10px;
    margin-top: 10px;
    width: 355px;
    height: 647px
  }
  .style20,
  .style22 {
    margin-left: 25px;
    margin-top: 25px
  }
  .style20 {
    background-color: #1e71f5;
    opacity: .9975579977035522;
    width: 325px;
    height: 617px
  }
  .style22 {
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    position: relative;
    display: flex;
    width: 245px;
    height: 391px;
    flex-direction: column
  }
  .style21,
  .style22,
  .style23 {
    background-color: #1e71f5
  }
  .style21 {
    position: relative;
    flex-shrink: 0;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    margin-left: 119px;
    margin-top: 286px;
    width: 206px;
    height: 331px
  }
  .style23 {
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    opacity: .9975579977035522;
    margin-left: 48px;
    margin-top: 49px;
    width: 278px;
    height: 569px
  }
  .style24,
  .style25,
  .style26,
  .style27 {
    background-color: #1e71f5;
    margin-left: 25px;
    margin-top: 20px;
    width: 249px;
    height: 189px
  }
  .style25,
  .style26,
  .style27 {
    margin-left: 63px;
    margin-top: 30px
  }
  .style26,
  .style27 {
    margin-left: 104px;
    height: 184px
  }
  .style27 {
    margin-left: 1px;
    margin-top: 0;
    width: 374px;
    height: 496px
  }
  .iphone67828row0,
  .style28 {
    position: relative;
    height: 156px
  }
  .iphone67828row0 {
    display: flex;
    margin-left: 25px;
    width: 326px;
    justify-content: space-between;
    margin-top: 221px
  }
  .style28 {
    margin-top: 68px
  }
  .style28,
  .style29,
  .style30 {
    background-color: #1e71f5;
    width: 104px;
    flex-shrink: 0
  }
  .style29 {
    position: relative;
    margin-top: 33px;
    height: 156px
  }
  .style30 {
    height: 100%;
    align-self: stretch
  }
  .style31,
  .style32 {
    background-color: #1e71f5;
    position: relative
  }
  .style31 {
    opacity: .9975579977035522;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 25px;
    width: 325px;
    height: 617px
  }
  .style32 {
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;
    border-top-left-radius: 83px;
    border-top-right-radius: 83px;
    border-bottom-left-radius: 83px;
    border-bottom-right-radius: 83px;
    margin-left: 186px;
    margin-top: 476px;
    width: 164px;
    height: 164px;
    flex-shrink: 0
  }
  .style33,
  .style35 {
    background-color: #1e71f5;
    margin-left: 157px;
    margin-top: 173px;
    width: 218px;
    height: 321px
  }
  .style35 {
    border-top-left-radius: 98px;
    border-top-right-radius: 98px;
    border-bottom-left-radius: 98px;
    border-bottom-right-radius: 98px;
    margin-left: 91px;
    margin-top: 104px;
    width: 194px;
    height: 194px
  }
  .style36,
  .style37,
  .style38 {
    background-color: #1e71f5;
    margin-left: 99px;
    margin-top: 59px;
    width: 178px;
    height: 178px
  }
  .style37,
  .style38 {
    margin-top: 8px
  }
  .style39,
  .style40,
  .style41 {
    background-color: #1e71f5;
    margin-left: 131px;
    margin-top: 59px;
    width: 244px;
    height: 147px
  }
  .style40,
  .style41 {
    margin-left: 0;
    margin-top: 64px;
    width: 375px;
    height: 127px
  }
  .style40 {
    width: 244px;
    height: 147px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style42,
  .style43 {
    background-color: #1e71f5;
    position: relative
  }
  .style42 {
    opacity: .9975579977035522;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 25px;
    width: 325px;
    height: 617px
  }
  .style43 {
    border-left: 12px solid #fff;
    border-right: 12px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 12px solid #fff;
    margin-left: 173px;
    margin-top: 465px;
    width: 164px;
    height: 164px;
    flex-shrink: 0
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style0 {
    background-color: #262626;
    opacity: .9975579977035522;
    margin-left: 20px;
    margin-top: 20px;
    width: 727px;
    height: 1325px
  }
  .style5,
  .style6,
  .style7,
  .style8 {
    background-color: #1e71f5;
    margin-left: 51px;
    margin-top: 51px;
    width: 666px;
    height: 606px
  }
  .style7,
  .style8 {
    margin-left: 133px;
    width: 502px;
    height: 549px
  }
  .style7 {
    margin-top: 23px;
    height: 692px
  }
  .iphone67827row0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 770px;
    height: 684px;
    align-items: stretch
  }
  .style10,
  .style9 {
    background-color: #1e71f5;
    margin-left: 0;
    width: 385px
  }
  .iphone67827row1 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 684px;
    align-items: stretch
  }
  .style11,
  .style12,
  .style13 {
    background-color: #1e71f5;
    margin-left: 0;
    width: 385px
  }
  .style13 {
    opacity: .9975579977035522;
    margin-left: 20px;
    margin-top: 20px;
    width: 727px;
    height: 1325px
  }
  .style20,
  .style22 {
    margin-left: 51px;
    margin-top: 51px
  }
  .style20 {
    background-color: #1e71f5;
    opacity: .9975579977035522;
    width: 666px;
    height: 1264px
  }
  .style22 {
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    position: relative;
    display: flex;
    width: 502px;
    height: 801px;
    flex-direction: column
  }
  .style21,
  .style22,
  .style23 {
    background-color: #1e71f5
  }
  .style21 {
    position: relative;
    flex-shrink: 0;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    margin-left: 244px;
    margin-top: 586px;
    width: 422px;
    height: 678px
  }
  .style23 {
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    opacity: .9975579977035522;
    margin-left: 98px;
    margin-top: 100px;
    width: 569px;
    height: 1165px
  }
  .style24,
  .style25,
  .style26,
  .style27 {
    background-color: #1e71f5;
    margin-left: 51px;
    margin-top: 41px;
    width: 510px;
    height: 387px
  }
  .style25,
  .style26,
  .style27 {
    margin-left: 129px;
    margin-top: 61px
  }
  .style26,
  .style27 {
    margin-left: 213px;
    height: 377px
  }
  .style27 {
    margin-left: 2px;
    margin-top: 0;
    width: 766px;
    height: 1016px
  }
  .iphone67828row0,
  .style28 {
    position: relative;
    height: 319px
  }
  .iphone67828row0 {
    display: flex;
    margin-left: 51px;
    width: 668px;
    justify-content: space-between;
    margin-top: 453px
  }
  .style28 {
    margin-top: 139px
  }
  .style28,
  .style29,
  .style30 {
    background-color: #1e71f5;
    width: 213px;
    flex-shrink: 0
  }
  .style29 {
    position: relative;
    margin-top: 68px;
    height: 319px
  }
  .style30 {
    height: 100%;
    align-self: stretch
  }
  .style31,
  .style32 {
    background-color: #1e71f5;
    position: relative
  }
  .style31 {
    opacity: .9975579977035522;
    display: flex;
    flex-direction: column;
    margin-left: 51px;
    margin-top: 51px;
    width: 666px;
    height: 1264px
  }
  .style32 {
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;
    border-top-left-radius: 83px;
    border-top-right-radius: 83px;
    border-bottom-left-radius: 83px;
    border-bottom-right-radius: 83px;
    margin-left: 381px;
    margin-top: 975px;
    width: 336px;
    height: 336px;
    flex-shrink: 0
  }
  .style33,
  .style35 {
    background-color: #1e71f5;
    margin-left: 322px;
    margin-top: 354px;
    width: 446px;
    height: 657px
  }
  .style35 {
    border-top-left-radius: 98px;
    border-top-right-radius: 98px;
    border-bottom-left-radius: 98px;
    border-bottom-right-radius: 98px;
    margin-left: 186px;
    margin-top: 213px;
    width: 397px;
    height: 397px
  }
  .style36,
  .style37,
  .style38 {
    background-color: #1e71f5;
    margin-left: 203px;
    margin-top: 121px;
    width: 365px;
    height: 365px
  }
  .style37,
  .style38 {
    margin-top: 16px
  }
  .style39,
  .style40,
  .style41 {
    background-color: #1e71f5;
    margin-left: 268px;
    margin-top: 121px;
    width: 500px;
    height: 301px
  }
  .style40,
  .style41 {
    margin-left: 0;
    margin-top: 131px;
    width: 768px;
    height: 260px
  }
  .style40 {
    width: 500px;
    height: 301px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style42,
  .style43 {
    background-color: #1e71f5;
    position: relative
  }
  .style42 {
    opacity: .9975579977035522;
    display: flex;
    flex-direction: column;
    margin-left: 51px;
    margin-top: 51px;
    width: 666px;
    height: 1264px
  }
  .style43 {
    border-left: 12px solid #fff;
    border-right: 12px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 12px solid #fff;
    margin-left: 354px;
    margin-top: 952px;
    width: 336px;
    height: 336px;
    flex-shrink: 0
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style0 {
    background-color: #262626;
    opacity: .9975579977035522;
    margin-left: 25px;
    margin-top: 25px;
    width: 871px;
    height: 1587px
  }
  .style5,
  .style6,
  .style7,
  .style8 {
    background-color: #1e71f5;
    margin-left: 61px;
    margin-top: 61px;
    width: 797px;
    height: 726px
  }
  .style7,
  .style8 {
    margin-left: 159px;
    width: 601px;
    height: 657px
  }
  .style7 {
    margin-top: 27px;
    height: 829px
  }
  .iphone67827row0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 922px;
    height: 819px;
    align-items: stretch
  }
  .style10,
  .style9 {
    background-color: #1e71f5;
    margin-left: 0;
    width: 461px
  }
  .iphone67827row1 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 819px;
    align-items: stretch
  }
  .style11,
  .style12,
  .style13 {
    background-color: #1e71f5;
    margin-left: 0;
    width: 461px
  }
  .style13 {
    opacity: .9975579977035522;
    margin-left: 25px;
    margin-top: 25px;
    width: 871px;
    height: 1587px
  }
  .style20,
  .style22 {
    margin-left: 61px;
    margin-top: 61px
  }
  .style20 {
    background-color: #1e71f5;
    opacity: .9975579977035522;
    width: 797px;
    height: 1514px
  }
  .style22 {
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    position: relative;
    display: flex;
    width: 601px;
    height: 959px;
    flex-direction: column
  }
  .style21,
  .style22,
  .style23 {
    background-color: #1e71f5
  }
  .style21 {
    position: relative;
    flex-shrink: 0;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    margin-left: 292px;
    margin-top: 702px;
    width: 505px;
    height: 812px
  }
  .style23 {
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    opacity: .9975579977035522;
    margin-left: 118px;
    margin-top: 120px;
    width: 682px;
    height: 1396px
  }
  .style24,
  .style25,
  .style26,
  .style27 {
    background-color: #1e71f5;
    margin-left: 61px;
    margin-top: 49px;
    width: 611px;
    height: 464px
  }
  .style25,
  .style26,
  .style27 {
    margin-left: 155px;
    margin-top: 74px
  }
  .style26,
  .style27 {
    margin-left: 255px;
    height: 451px
  }
  .style27 {
    margin-left: 2px;
    margin-top: 0;
    width: 918px;
    height: 1217px
  }
  .iphone67828row0,
  .style28 {
    position: relative;
    height: 383px
  }
  .iphone67828row0 {
    display: flex;
    margin-left: 61px;
    width: 800px;
    justify-content: space-between;
    margin-top: 542px
  }
  .style28 {
    margin-top: 167px
  }
  .style28,
  .style29,
  .style30 {
    background-color: #1e71f5;
    width: 255px;
    flex-shrink: 0
  }
  .style29 {
    position: relative;
    margin-top: 81px;
    height: 383px
  }
  .style30 {
    height: 100%;
    align-self: stretch
  }
  .style31,
  .style32 {
    background-color: #1e71f5;
    position: relative
  }
  .style31 {
    opacity: .9975579977035522;
    display: flex;
    flex-direction: column;
    margin-left: 61px;
    margin-top: 61px;
    width: 797px;
    height: 1514px
  }
  .style32 {
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;
    border-top-left-radius: 83px;
    border-top-right-radius: 83px;
    border-bottom-left-radius: 83px;
    border-bottom-right-radius: 83px;
    margin-left: 456px;
    margin-top: 1168px;
    width: 402px;
    height: 402px;
    flex-shrink: 0
  }
  .style33,
  .style35 {
    background-color: #1e71f5;
    margin-left: 385px;
    margin-top: 424px;
    width: 535px;
    height: 788px
  }
  .style35 {
    border-top-left-radius: 98px;
    border-top-right-radius: 98px;
    border-bottom-left-radius: 98px;
    border-bottom-right-radius: 98px;
    margin-left: 223px;
    margin-top: 255px;
    width: 476px;
    height: 476px
  }
  .style36,
  .style37,
  .style38 {
    background-color: #1e71f5;
    margin-left: 243px;
    margin-top: 145px;
    width: 437px;
    height: 437px
  }
  .style37,
  .style38 {
    margin-top: 20px
  }
  .style39,
  .style40,
  .style41 {
    background-color: #1e71f5;
    margin-left: 321px;
    margin-top: 145px;
    width: 599px;
    height: 361px
  }
  .style40,
  .style41 {
    margin-left: 0;
    margin-top: 157px;
    width: 920px;
    height: 312px
  }
  .style40 {
    width: 599px;
    height: 361px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style42,
  .style43 {
    background-color: #1e71f5;
    position: relative
  }
  .style42 {
    opacity: .9975579977035522;
    display: flex;
    flex-direction: column;
    margin-left: 61px;
    margin-top: 61px;
    width: 797px;
    height: 1514px
  }
  .style43 {
    border-left: 12px solid #fff;
    border-right: 12px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 12px solid #fff;
    margin-left: 424px;
    margin-top: 1141px;
    width: 402px;
    height: 402px;
    flex-shrink: 0
  }
}
@media (min-width:1200px) {
  .style0 {
    background-color: #262626;
    opacity: .9975579977035522;
    margin-left: 32px;
    margin-top: 32px;
    width: 1136px;
    height: 2070px
  }
  .style5,
  .style6,
  .style7,
  .style8 {
    background-color: #1e71f5;
    margin-left: 80px;
    margin-top: 80px;
    width: 1040px;
    height: 947px
  }
  .style7,
  .style8 {
    margin-left: 208px;
    width: 784px;
    height: 858px
  }
  .style7 {
    margin-top: 35px;
    height: 1082px
  }
  .iphone67827row0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1203px;
    height: 1069px;
    align-items: stretch
  }
  .style10,
  .style9 {
    background-color: #1e71f5;
    margin-left: 0;
    width: 602px
  }
  .iphone67827row1 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 1069px;
    align-items: stretch
  }
  .style11,
  .style12,
  .style13 {
    background-color: #1e71f5;
    margin-left: 0;
    width: 602px
  }
  .style13 {
    opacity: .9975579977035522;
    margin-left: 32px;
    margin-top: 32px;
    width: 1136px;
    height: 2070px
  }
  .style20,
  .style22 {
    margin-left: 80px;
    margin-top: 80px
  }
  .style20 {
    background-color: #1e71f5;
    opacity: .9975579977035522;
    width: 1040px;
    height: 1974px
  }
  .style22 {
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    position: relative;
    display: flex;
    width: 784px;
    height: 1251px;
    flex-direction: column
  }
  .style21,
  .style22,
  .style23 {
    background-color: #1e71f5
  }
  .style21 {
    position: relative;
    flex-shrink: 0;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    margin-left: 381px;
    margin-top: 915px;
    width: 659px;
    height: 1059px
  }
  .style23 {
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    opacity: .9975579977035522;
    margin-left: 154px;
    margin-top: 157px;
    width: 890px;
    height: 1821px
  }
  .style24,
  .style25,
  .style26,
  .style27 {
    background-color: #1e71f5;
    margin-left: 80px;
    margin-top: 64px;
    width: 797px;
    height: 605px
  }
  .style25,
  .style26,
  .style27 {
    margin-left: 202px;
    margin-top: 96px
  }
  .style26,
  .style27 {
    margin-left: 333px;
    height: 589px
  }
  .style27 {
    margin-left: 3px;
    margin-top: 0;
    width: 1197px;
    height: 1587px
  }
  .iphone67828row0,
  .style28 {
    position: relative;
    height: 499px
  }
  .iphone67828row0 {
    display: flex;
    margin-left: 80px;
    width: 1043px;
    justify-content: space-between;
    margin-top: 707px
  }
  .style28 {
    margin-top: 218px
  }
  .style28,
  .style29,
  .style30 {
    background-color: #1e71f5;
    width: 333px;
    flex-shrink: 0
  }
  .style29 {
    position: relative;
    margin-top: 106px;
    height: 499px
  }
  .style30 {
    height: 100%;
    align-self: stretch
  }
  .style31,
  .style32 {
    background-color: #1e71f5;
    position: relative
  }
  .style31 {
    opacity: .9975579977035522;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 80px;
    width: 1040px;
    height: 1974px
  }
  .style32 {
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;
    border-top-left-radius: 83px;
    border-top-right-radius: 83px;
    border-bottom-left-radius: 83px;
    border-bottom-right-radius: 83px;
    margin-left: 595px;
    margin-top: 1523px;
    width: 525px;
    height: 525px;
    flex-shrink: 0
  }
  .style33,
  .style35 {
    background-color: #1e71f5;
    margin-left: 502px;
    margin-top: 554px;
    width: 698px;
    height: 1027px
  }
  .style35 {
    border-top-left-radius: 98px;
    border-top-right-radius: 98px;
    border-bottom-left-radius: 98px;
    border-bottom-right-radius: 98px;
    margin-left: 291px;
    margin-top: 333px;
    width: 621px;
    height: 621px
  }
  .style36,
  .style37,
  .style38 {
    background-color: #1e71f5;
    margin-left: 317px;
    margin-top: 189px;
    width: 570px;
    height: 570px
  }
  .style37,
  .style38 {
    margin-top: 26px
  }
  .style39,
  .style40,
  .style41 {
    background-color: #1e71f5;
    margin-left: 419px;
    margin-top: 189px;
    width: 781px;
    height: 470px
  }
  .style40,
  .style41 {
    margin-left: 0;
    margin-top: 205px;
    width: 1200px;
    height: 406px
  }
  .style40 {
    width: 781px;
    height: 470px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style42,
  .style43 {
    background-color: #1e71f5;
    position: relative
  }
  .style42 {
    opacity: .9975579977035522;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 80px;
    width: 1040px;
    height: 1974px
  }
  .style43 {
    border-left: 12px solid #fff;
    border-right: 12px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 12px solid #fff;
    margin-left: 554px;
    margin-top: 1488px;
    width: 525px;
    height: 525px;
    flex-shrink: 0
  }
}